.module-container {
    // display: flex;
    margin: 20px;

    .module-header {
        margin-bottom: 25px;
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }

    div {
        display: flex;
        justify-content: space-between;
    }
}