@import '../../styles/variables.scss';

.sidebar-container {
    height: 100%;
    background-color: #343a40;
    menu {
        padding: 8px;
        color: $gray-color;
        li {
            list-style: none;
            padding: 8px 14px;
            cursor: pointer;
            border-radius: 5px;
            // text-align: center;
            &:hover {
                background-color: #64696d;
                color: $white-color;
                border: 1px solid #343a40;
            }
        }

        li a {
            color: $gray-color;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            svg {
                margin-right: 8px;
            }
        }
    }

    .menu-active {
        border: 1px solid $gray-color;
        background-color: $active-color;
        color: $white-color;
    }
}