.payment-container {
    span {
        font-size: large;
        font-weight: bold;
        display: block;
        margin-bottom: .5rem;
    }

    span.error {
        color: red;
    }

    .invoice-review {
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-color: #d6d6d6;
        border: 1px solid #bab6b6;
        border-radius: 5px;
    }
}